html, body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}


#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px auto;
    grid-template-areas:
    "h h h h h"
    "m m m m m"
    "b c c c bg"
    ;
}


#banner{
    grid-area: h;
    position: sticky; top: 0;
}

#banner >img{
    display: block;
    height: 100%;
    width: 100%;
}

#nav{
    grid-area: m;
    position: sticky; top:200px;
    background-color: lawngreen;
}

#nav > a{
    float:left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

#nav > a:hover {
    background-color: #ddd;
    color: black;
}


#main{
    grid-area: c;
    background-color:#ccdb6a;
    text-align: center;
}

#home{
    margin-left: 35%;
}

